@model Pizza

<div class="text-center container-xxl">
    <form asp-controller="Pizza" asp-action="Update" asp-route-id="@Model.Id" method="post">
        @Html.AntiForgeryToken()
        <div class="m-5">
            <label for="Name" class="form-label "><strong>Nome Prodotto:</strong></label>
            <input asp-for="Name" type="text" class="form-control w-50 my-0 mx-auto" id="Name" placeholder="Inserisci nome del prodotto">
            <span asp-validation-for="Name" class=" d-inline-block mt-2 text-light bg-primary text-uppercase px-5"></span>
        </div>
        <div class="m-5">
            <label for="Description" class="form-label"><strong>Descrizione Prodotto:</strong></label>
            <textarea asp-for="Description" class="form-control w-50 my-0 mx-auto" id="Description" style="height: 100px" placeholder="Inserisci descrizione del prodotto"></textarea>
            <span asp-validation-for="Description" class="d-inline-block mt-2 text-light bg-primary text-uppercase px-5"></span>
        </div>
        <div class="m-5">
            <label for="Price" class="form-label"><strong>Prezzo Prodotto:</strong></label>
            <input asp-for="Price" step="0.01" class="form-control w-50 my-0 mx-auto" id="Price" placeholder="Prezzo">
            <span asp-validation-for="Price" class="d-inline-block mt-2 text-light bg-primary text-uppercase px-5"></span>
        </div>
        <div class="text-end">
            <input type="submit" class="btn btn-primary me-md-2 mb-5" value="Aggiorna Prodotto">
        </div>
    </form>
</div>